.project{
   display: grid;
   grid-template-columns: 3fr 2fr;
   align-items:start;
   grid-gap: 30px;
}

.projectDetails{
   background-color: white;
   border-radius: 10px;
   padding: 30px;
   display: flex;
   flex-direction: column;
}

.projectDetails h3{
   font-size: 2rem;
}
.projectDetails .details{
   display: inline-block;
   color: rgb(63, 63, 63);
   font-size: 0.9rem;
   margin-block: 2%;
   letter-spacing: px;
}
.projectDetails .category{
   align-self: self-start;
   text-align: center;
   display: inline-block;
   background: pink;
   border-radius: 10px;
   padding: 5px 25px;
   font-size: 0.8rem;
   font-weight: 600;
   margin-block: 1% 2%;
}
.projectDetails .assignedTo{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.projectDetails .assignedTo ul .avatar{
   width: 50px;
   height: 50px;
}
.projectDetails p{
   color: rgba(114, 114, 114, 0.705);
   font-size: 0.8rem;
}
.loader{
   text-align: center;
   margin-top: 20%;
}