rules_version = '2';
service cloud.firestore 
{
  match /databases/{database}/documents 
  {
      match /users/{userID} 
      {
        allow read, create: if request.auth != null
        allow update: if request.auth.uid == userID
      }
      match /projects/{projectID} 
      {
        allow read, create, update: if request.auth != null
        allow delete: if request.auth.uid == resource.data.createdBy.id
      }
  }
}