.navbar{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 50px;
   /* border: 1px solid black; */
}

.navbar img{
   width: 120px;
}

.navbar .btn{
   width: 80px;
   border: none;
   background: rgb(253, 61, 61);
   padding: 8px;
   border-radius: 5px;
   color: whitesmoke;
   cursor: pointer;
}
.navbar .btn:hover{
   background: rgb(192, 36, 36);
   transition: 1s;
}