.sidebar{
   background: rgb(94, 94, 250);
   color: white;
   height: 100vh;
   width: 230px;
   position: fixed;
}

.sidebar .sideMenu{
   margin-top: 30px;
}

.sidebar .user{
   text-align: center;
   letter-spacing: 1px;
   padding: 10%;
   border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}

.sidebar .sideMenu li a{
   margin-bottom: 5px;
   margin-left: 10%;
   padding: 8px 15px 8px;
   line-break: auto;
   cursor: pointer;
   display: flex;
   color: #f4f4f4;
   align-items: center;
}
.sidebar .sideMenu li a.active{
   border-radius: 40px 0px 0px 40px !important;
   background: #f4f4f4 !important;
   color: rgb(46, 46, 182) !important;
   
}
.sideMenu li a:hover{
   text-decoration: none !important;
}
.sidebar .sideMenu li p{
   margin-left: 8px;
   font-size: 0.9rem;
}
